BasedOnStyle: LLVM
Language: Cpp
Standard: Cpp11

AccessModifierOffset: -4
ColumnLimit: 120
IndentWidth: 4
TabWidth: 4
ContinuationIndentWidth: 4
UseTab: Never
NamespaceIndentation: None

PointerAlignment: Left
AlignAfterOpenBracket: Align
AlignOperands: true
AlignTrailingComments: true

AlwaysBreakTemplateDeclarations: true
BreakBeforeBraces: Linux
BreakConstructorInitializers: BeforeComma

BinPackArguments: false
BinPackParameters: false
ExperimentalAutoDetectBinPacking: false

AllowAllParametersOfDeclarationOnNextLine: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortBlocksOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

BraceWrapping:
    AfterStruct: true
    AfterClass: true
    AfterFunction: true
    AfterControlStatement: false
    AfterEnum: true
    AfterNamespace: true
